body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7F8;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.header {
  &__wrap {
    display: flex;
gap: 60px;
margin-top: 20px;
align-items: center;
}
&__link {
    color: #705A66;
font-weight: 300;
}
&__img {
    width: 115px;
    height: 91px;
    margin: 0 auto;
}
&__icon {
}  
}


.hero {
    &__wrapper{
        display: flex;
    }
    &__inner
&__box{
    margin-top: 125px;
    z-index: -1;
    margin-left: 400px;
}
   &__title {
   color: #705A66;
   font-size: 160px;
font-weight: 200;
letter-spacing: -16px;
}
&__subtitle {
   color: #705A66;
font-size: 24px;
font-weight: 300;
letter-spacing: 0.48px;
text-transform: uppercase;
text-align: right;
padding-right: 250px;
}
&__img {
width: 831px;
height: 521px;
position: relative;
z-index: 0;
bottom: 90px;
right: 200px;
margin-right: auto;
}
&__btn {
    font-size: 24px;
font-weight: 300;
border-radius: 10px;
background: #F5EEE0;
color: #705A66;
padding: 20px 120px;
text-transform: uppercase;
position: relative;
z-index: 1;
bottom: 300px;
left: 350px;
}
&__wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
    margin-bottom: 270px;
}
&__icon {
    width: 24px;
height: 21px;
} 
}

.categories {
&__wrap {
    display: flex; 
    flex-wrap: wrap;
}
&__img {
    border-radius: 126px;
    width: 605px;
height: 253px;
}
&__card {
    // display: flex;
    border-radius: 10px;
background: #F5EEE0;;
// width: 276px;
// height: 67px;
align-items: center;
}
&__name {
color: #705A66;
font-size: 24px;
font-weight: 300;
text-transform: uppercase;
}
&__btn {
    width: 67px;
height: 67px;
margin-left: auto;
}
&__arrow {
}    
}

.bestsellers {
&__title {
    color: #705A66;
font-size: 100px;
font-weight: 900;
text-align: center;
margin-bottom: 60px;
}
&__btn {
}
&__arrow{

}
&__img {
    width: 393px;
height: 393px;
}
&__wrap {
    display: flex;
    flex-direction:row;
}
&__card {
    display: flex;
align-items: flex-start;
gap: 75px;
}
&__box {
}
&__name {
}
&__feautures {
}
&__arrow {
}
&__big-btn {
    background-color: #F5EEE0;
    margin: 100px auto 0;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    color: #705A66;
    padding: 10px 80px;
}    
}

.advantages {
&__title {
    color: #705A66;
font-size: 50px;
font-weight: 900;
margin-top: 120px;
text-align: center;
}
&__photo-box {
}
&__rotated-title {
}
.f {
    transform: rotate(-30.918deg);
}
.r {
    transform: rotate(-22.202deg);
}
.o {
    transform: rotate(-17.078deg);
}
.m {
    transform: rotate(-12.698deg);
}
.*{}
.g {
    transform: rotate(-7.295deg);
}
.r2 {
    transform: rotate(-4.472deg);
}
.a {
    transform: rotate(-1.81deg);
}
.n {
    transform: rotate(3.094deg);
}
.n2 {
    transform: rotate(17.624deg);
}
.w {
    transform: rotate(21.103deg);
}
.i {
    transform: rotate(22.44deg);
}
.t {
    transform: rotate(23.611deg);
}
.h {
    transform: rotate(25.583deg);
}
.l {
    transform: rotate(29.02deg);
}
.o2 {
    transform: rotate(31.85deg);
}
.v {
    transform: rotate(37.581deg);
}
.e {
    transform: rotate(49.1deg);
}
&__img {
}
&__wrap {
}
&__subtitle {
}
&__text {
}    
}

.delivery {
&__title {
}
&__wrap {
}
&__card {
}
&__img {
}
&__name {
}
&__text {
}    
}

.about {
&__wrap {
}
&__img {
}
&__box {
}
&__title {
}
&__text {
}    
}
